<h1 class="sizeTitle" data-brand="{{brand}}">Size Guide</h1>
{{ assignVar 'brand' brand}}
<ul class="tabs size-slide size-tabs" data-tab="">
    <li style="" class="{{#if brand '==' 'Marc Cain'}}active-tab{{/if}} tab size-tab" data-size-brand="Marc Cain"><a class="tab-title size-tab-title" tabindex="0" href="#marccain"><img src="https://store-rnjw8pihep.mybigcommerce.com/product_images/staticPages_images/Marc_Cain_Logo_2020%201.png" alt="marccain" /></a></li>
    <li class="{{#if brand '==' 'NYDJ'}}active-tab{{/if}} tab size-tab" data-size-brand="NYDJ"><a class="tab-title size-tab-title productView-reviewTabLink" tabindex="0" href="#NYDJ"><img src="https://store-rnjw8pihep.mybigcommerce.com/product_images/staticPages_images/20thAnniversary_Black_Web_copy3_34338444-5226-442d-bf24-033a695f8c45%201.png" alt="NYDJ" /></a></li>
    <li class="{{#if brand '==' 'ILSE JACOBSEN'}}active-tab{{/if}} tab size-tab" data-size-brand="ILSE JACOBSEN"><a class="tab-title size-tab-title productView-reviewTabLink" tabindex="0" href="#ilsejacobsen"><img src="https://store-rnjw8pihep.mybigcommerce.com/product_images/staticPages_images/logos-15%202.png" alt="ilsejacobsen" /></a></li>
    <li class="{{#if brand '==' 'Loobies'}}active-tab{{/if}} tab size-tab" data-size-brand="Loobies"><a class="tab-title size-tab-title productView-reviewTabLink" tabindex="0" href="#Loobies"><img src="https://store-rnjw8pihep.mybigcommerce.com/product_images/staticPages_images/LS_Logo-L-Res%203.png" alt="Loobies" /></a></li>
    <li class="{{#if brand '==' 'FABER'}}active-tab{{/if}} tab size-tab" data-size-brand="FABER"><a class="tab-title size-tab-title productView-reviewTabLink" tabindex="0" href="#faber"><img src="https://store-rnjw8pihep.mybigcommerce.com/product_images/staticPages_images/20thAnniversary_Black_Web_copy3_34338444-5226-442d-bf24-033a695f8c45%201%20%283%29.png" alt="faber" /></a></li>
    <li  class="{{#if brand '==' 'POM' }}active-tab{{/if}} tab size-tab" data-size-brand="POM"><a class="tab-title size-tab-title productView-reviewTabLink" tabindex="0" href="#pom"><img src="https://store-rnjw8pihep.mybigcommerce.com/product_images/staticPages_images/pom.png" alt="pom" /></a></li>
    <li class="{{#if brand '==' 'DEA KUDIBAL'}}active-tab{{/if}} tab size-tab" data-size-brand="DEA KUDIBAL"><a class="tab-title size-tab-title productView-reviewTabLink" tabindex="0" href="#deakudibal"><img class="variantImg" src="https://store-rnjw8pihep.mybigcommerce.com/product_images/a/DeaKudibal.png" alt="deakudibal" /></a></li>
    <li class="{{#if brand '==' 'MADLY SWEETLY'}}active-tab{{/if}} tab size-tab" data-size-brand="MADLY SWEETLY"><a class="tab-title size-tab-title productView-reviewTabLink" tabindex="0" href="#madlysweetly"><img class="variantImg" src="https://store-rnjw8pihep.mybigcommerce.com/product_images/a/MadlySweetly.png" alt="madlysweetly" /></a></li>
    <li class="{{#if brand '==' 'MONARI'}}active-tab{{/if}} tab size-tab" data-size-brand="MONARI"><a class="tab-title size-tab-title productView-reviewTabLink" tabindex="0" href="#monari"><img class="variantImg" src="https://store-rnjw8pihep.mybigcommerce.com/product_images/a/Monari.png" alt="monari" /></a></li>
    <li class="{{#if brand '==' 'MOS MOSH'}}active-tab{{/if}} tab size-tab" data-size-brand="MOS MOSH"><a class="tab-title size-tab-title productView-reviewTabLink" tabindex="0" href="#mosMosh"><img class="variantImg" src="https://store-rnjw8pihep.mybigcommerce.com/product_images/a/MosMosh.png" alt="mosMosh" /></a></li>
    <li class="{{#if brand '==' 'RINI'}}active-tab{{/if}} tab size-tab" data-size-brand="RINI"><a class="tab-title size-tab-title productView-reviewTabLink" tabindex="0" href="#riani"><img class="variantImg" src="https://store-rnjw8pihep.mybigcommerce.com/product_images/a/riani.png" alt="riani" /></a></li>
</ul>
<div class="tabs-contents">
    <div id="marccain" class="tab-content ">
        <ul class="tabs sub-tabs" data-tab="">
            <li class="tab sub-tab is-active"><a class="tab-title sub-tab-title" tabindex="0" href="#ready-to-wear">Clothing</a></li>
            <li class="tab sub-tab"><a class="tab-title sub-tab-title" tabindex="0" href="#lingerie">Shoes</a></li>
        </ul>
        <div class="tabs-contents sub-tab-contents">
            <div id="ready-to-wear" class="tab-content sub-tab-content is-active">
                <div class="size-chart">
                    <table>
                        <thead>
                        <tr><th>Standard</th><th>AU/NZ</th></tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>N1</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>N2</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <td>N3</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>N4</td>
                            <td>12</td>
                        </tr>
                        <tr>
                            <td>N5</td>
                            <td>14</td>
                        </tr>
                        <tr>
                            <td>N6</td>
                            <td>16</td>
                        </tr>
                        <tr>
                            <td>N7</td>
                            <td>18</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="lingerie" class="tab-content sub-tab-content">
                <div class="size-chart lingerie">
                    <table>
                        <thead>
                        <tr><th>Standard</th><th>AU/NZ</th></tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>G1</td>
                            <td>AU 5</td>
                        </tr>
                        <tr>
                            <td>G2</td>
                            <td>AU 6</td>
                        </tr>
                        <tr>
                            <td>G3</td>
                            <td>AU 7</td>
                        </tr>
                        <tr>
                            <td>G4</td>
                            <td>AU 8</td>
                        </tr>
                        <tr>
                            <td>G5</td>
                            <td>AU 9</td>
                        </tr>
                        <tr>
                            <td>G6</td>
                            <td>AU 10</td>
                        </tr>
                        <tr>
                            <td>G7</td>
                            <td>18</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="NYDJ" class="tab-content">
        <ul class="tabs sub-tabs" data-tab="">
            <li class="tab sub-tab is-active"><a class="tab-title sub-tab-title" tabindex="0" href="#denim">Denim</a></li>
        </ul>
        <div class="tabs-contents sub-tab-contents">
            <div id="denim" class="tab-content sub-tab-content is-active">
                <div class="size-chart">
                    <table>
                        <thead>
                        <tr><th>Standard</th><th>AU/NZ</th></tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>U0</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>U2</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>U4</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <td>U6</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>U8</td>
                            <td>12</td>
                        </tr>
                        <tr>
                            <td>U10</td>
                            <td>14</td>
                        </tr>
                        <tr>
                            <td>U12</td>
                            <td>16</td>
                        </tr>
                        <tr>
                            <td>U14</td>
                            <td>18</td>
                        </tr>
                        <tr>
                            <td>U16</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>U18</td>
                            <td>22</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="ilsejacobsen" class="tab-content">
        <ul class="tabs sub-tabs" data-tab="">
            <li class="tab sub-tab is-active"><a class="tab-title sub-tab-title" tabindex="0" href="#denim">Clothing</a></li>
            <li class="tab sub-tab"><a class="tab-title sub-tab-title" tabindex="0" href="#footwear">Shoes</a></li>
        </ul>
        <div class="tabs-contents sub-tab-contents">
            <div id="denim" class="tab-content sub-tab-content is-active">
                <div class="size-chart">
                    <table>
                        <thead>
                        <tr><th>Standard</th><th>AU/NZ</th></tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>EU 34</td>
                            <td>AU 6</td>
                        </tr>
                        <tr>
                            <td>EU 36</td>
                            <td>AU 8</td>
                        </tr>
                        <tr>
                            <td>EU 38</td>
                            <td>AU 10</td>
                        </tr>
                        <tr>
                            <td>EU 40</td>
                            <td>AU 12</td>
                        </tr>
                        <tr>
                            <td>EU 42</td>
                            <td>AU 14</td>
                        </tr>
                        <tr>
                            <td>EU 44</td>
                            <td>AU 16</td>
                        </tr>
                        <tr>
                            <td>EU 46</td>
                            <td>AU 18</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="footwear" class="tab-content sub-tab-content">
                <div class="size-chart footwear">
                    <table>
                        <thead>
                        <tr><th>Standard</th><th>AU/NZ</th></tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>36</td>
                            <td>G1</td>
                        </tr>
                        <tr>
                            <td>37</td>
                            <td>G2</td>
                        </tr>
                        <tr>
                            <td>38</td>
                            <td>G3</td>
                        </tr>
                        <tr>
                            <td>39</td>
                            <td>G4</td>
                        </tr>
                        <tr>
                            <td>40</td>
                            <td>G5</td>
                        </tr>
                        <tr>
                            <td>41</td>
                            <td>G6</td>
                        </tr>
                        <tr>
                            <td>42</td>
                            <td>G7</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="Loobies" class="tab-content">
        <ul class="tabs sub-tabs" data-tab="">
            <li class="tab sub-tab is-active"><a class="tab-title sub-tab-title" tabindex="0" href="#appearels">Clothing</a></li>
        </ul>
        <div class="tabs-contents sub-tab-contents">
            <div id="appearels" class="tab-content sub-tab-content is-active">
                <div class="size-chart">
                    <table>
                        <thead>
                        <tr><th>Standard</th><th>AU/NZ</th></tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>AU 6</td>
                            <td>AU 6</td>
                        </tr>
                        <tr>
                            <td>AU 8</td>
                            <td>AU 8</td>
                        </tr>
                        <tr>
                            <td>AU 10</td>
                            <td>AU 10</td>
                        </tr>
                        <tr>
                            <td>AU 12</td>
                            <td>AU 12</td>
                        </tr>
                        <tr>
                            <td>AU 14</td>
                            <td>AU 14</td>
                        </tr>
                        <tr>
                            <td>AU 16</td>
                            <td>AU 16</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="faber" class="tab-content">
        <ul class="tabs sub-tabs" data-tab="">
            <li class="tab sub-tab is-active"><a class="tab-title sub-tab-title" tabindex="0" href="#denim">Clothing</a></li>
        </ul>
        <div class="tabs-contents sub-tab-contents">
            <div id="denim" class="tab-content sub-tab-content is-active">
                <div class="size-chart">
                    <table>
                        <thead>
                        <tr><th>Standard</th><th>AU/NZ</th></tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>EU 34</td>
                            <td>AU 6</td>
                        </tr>
                        <tr>
                            <td>EU 36</td>
                            <td>AU 8</td>
                        </tr>
                        <tr>
                            <td>EU 38</td>
                            <td>AU 10</td>
                        </tr>
                        <tr>
                            <td>EU 40</td>
                            <td>AU 12</td>
                        </tr>
                        <tr>
                            <td>EU 42</td>
                            <td>AU 14</td>
                        </tr>
                        <tr>
                            <td>EU 44</td>
                            <td>AU 16</td>
                        </tr>
                        <tr>
                            <td>EU 46</td>
                            <td>AU 18</td>
                        </tr>
                        <tr>
                            <td>EU 48</td>
                            <td>AU 20</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="pom" class="tab-content">
        <ul class="tabs sub-tabs" data-tab="">
            <li class="tab sub-tab is-active"><a class="tab-title sub-tab-title" tabindex="0" href="#denim">Clothing</a></li>
        </ul>
        <div class="tabs-contents sub-tab-contents">
            <div id="denim" class="tab-content sub-tab-content is-active">
                <div class="size-chart">
                    <table>
                        <thead>
                        <tr><th>Standard</th><th>AU/NZ</th></tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>EU 34</td>
                            <td>AU 6</td>
                        </tr>
                        <tr>
                            <td>EU 36</td>
                            <td>AU 8</td>
                        </tr>
                        <tr>
                            <td>EU 38</td>
                            <td>AU 10</td>
                        </tr>
                        <tr>
                            <td>EU 40</td>
                            <td>AU 12</td>
                        </tr>
                        <tr>
                            <td>EU 42</td>
                            <td>AU 14</td>
                        </tr>
                        <tr>
                            <td>EU 44</td>
                            <td>AU 16</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="deakudibal" class="tab-content">
        <ul class="tabs sub-tabs" data-tab="">
            <li class="tab sub-tab is-active"><a class="tab-title sub-tab-title" tabindex="0" href="#denim">Clothing</a></li>
        </ul>
        <div class="tabs-contents sub-tab-contents">
            <div id="denim" class="tab-content sub-tab-content is-active">
                <div class="size-chart">
                    <table>
                        <thead>
                        <tr><th>Standard</th><th>AU/NZ</th></tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>XS</td>
                            <td>AU 6</td>
                        </tr>
                        <tr>
                            <td>S</td>
                            <td>AU 8</td>
                        </tr>
                        <tr>
                            <td>M</td>
                            <td>AU 10</td>
                        </tr>
                        <tr>
                            <td>L</td>
                            <td>AU 12</td>
                        </tr>
                        <tr>
                            <td>XL</td>
                            <td>AU 14</td>
                        </tr>
                        <tr>
                            <td>XXL</td>
                            <td>AU 16</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="madlysweetly" class="tab-content">
        <ul class="tabs sub-tabs" data-tab="">
            <li class="tab sub-tab is-active"><a class="tab-title sub-tab-title" tabindex="0" href="#denim">Clothing</a></li>
        </ul>
        <div class="tabs-contents sub-tab-contents">
            <div id="denim" class="tab-content sub-tab-content is-active">
                <div class="size-chart">
                    <table>
                        <thead>
                        <tr><th>Standard</th><th>AU/NZ</th></tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>AU 6</td>
                            <td>AU 6</td>
                        </tr>
                        <tr>
                            <td>AU 8</td>
                            <td>AU 8</td>
                        </tr>
                        <tr>
                            <td>AU 10</td>
                            <td>AU 10</td>
                        </tr>
                        <tr>
                            <td>AU 12</td>
                            <td>AU 12</td>
                        </tr>
                        <tr>
                            <td>AU 14</td>
                            <td>AU 14</td>
                        </tr>
                        <tr>
                            <td>AU 16</td>
                            <td>AU 16</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="laurenVidal" class="tab-content">
        <ul class="tabs sub-tabs" data-tab="">
            <li class="tab sub-tab is-active"><a class="tab-title sub-tab-title" tabindex="0" href="#denim">Clothing</a></li>
        </ul>
        <div class="tabs-contents sub-tab-contents">
            <div id="denim" class="tab-content sub-tab-content is-active">
                <div class="size-chart">
                    <table>
                        <thead>
                        <tr><th>Standard</th><th>AU/NZ</th></tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>XS/1</td>
                            <td>AU 6</td>
                        </tr>
                        <tr>
                            <td>S/2</td>
                            <td>AU 8</td>
                        </tr>
                        <tr>
                            <td>M/3</td>
                            <td>AU 10</td>
                        </tr>
                        <tr>
                            <td>L/4</td>
                            <td>AU 12</td>
                        </tr>
                        <tr>
                            <td>XL/5</td>
                            <td>AU 14</td>
                        </tr>
                        <tr>
                            <td>XXL/6</td>
                            <td>AU 16</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="monari" class="tab-content">
        <ul class="tabs sub-tabs" data-tab="">
            <li class="tab sub-tab is-active"><a class="tab-title sub-tab-title" tabindex="0" href="#denim">Clothing</a></li>
        </ul>
        <div class="tabs-contents sub-tab-contents">
            <div id="denim" class="tab-content sub-tab-content is-active">
                <div class="size-chart">
                    <table>
                        <thead>
                        <tr><th>Standard</th><th>AU/NZ</th></tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>EU 34</td>
                            <td>AU 6</td>
                        </tr>
                        <tr>
                            <td>EU 36/XS</td>
                            <td>AU 8</td>
                        </tr>
                        <tr>
                            <td>EU 38/S</td>
                            <td>AU 10</td>
                        </tr>
                        <tr>
                            <td>EU 40/M</td>
                            <td>AU 12</td>
                        </tr>
                        <tr>
                            <td>EU 42/L</td>
                            <td>AU 14</td>
                        </tr>
                        <tr>
                            <td>EU 44/XL</td>
                            <td>AU 16</td>
                        </tr>
                        <tr>
                            <td>EU 46/XL</td>
                            <td>AU 18</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="mosMosh" class="tab-content">
        <ul class="tabs sub-tabs" data-tab="">
            <li class="tab sub-tab is-active"><a class="tab-title sub-tab-title" tabindex="0" href="#apperael">Clothing</a></li>
            <li class="tab sub-tab"><a class="tab-title sub-tab-title" tabindex="0" href="#denim">Denim</a></li>
        </ul>
        <div class="tabs-contents sub-tab-contents">
            <div id="apperael" class="tab-content sub-tab-content is-active">
                <div class="size-chart">
                    <table>
                        <thead>
                        <tr><th>Standard</th><th>AU/NZ</th></tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>EU 34</td>
                            <td>AU 6</td>
                        </tr>
                        <tr>
                            <td>EU 36/XS</td>
                            <td>AU 8</td>
                        </tr>
                        <tr>
                            <td>EU 38/S</td>
                            <td>AU 10</td>
                        </tr>
                        <tr>
                            <td>EU 40/M</td>
                            <td>AU 12</td>
                        </tr>
                        <tr>
                            <td>EU 42/L</td>
                            <td>AU 14</td>
                        </tr>
                        <tr>
                            <td>EU 44/XL</td>
                            <td>AU 16</td>
                        </tr>
                        <tr>
                            <td>EU 46/XL</td>
                            <td>AU 18</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="denim" class="tab-content sub-tab-content">
                <div class="size-chart">
                    <table>
                        <thead>
                        <tr><th>Standard</th><th>AU/NZ</th></tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>23"/24"</td>
                            <td>AU 6</td>
                        </tr>
                        <tr>
                            <td>25"/26"</td>
                            <td>AU 8</td>
                        </tr>
                        <tr>
                            <td>27"/28"</td>
                            <td>AU 10</td>
                        </tr>
                        <tr>
                            <td>29"/30"</td>
                            <td>AU 12</td>
                        </tr>
                        <tr>
                            <td>31"/32"</td>
                            <td>AU 14</td>
                        </tr>
                        <tr>
                            <td>33"/34"</td>
                            <td>AU 16</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="riani" class="tab-content">
        <ul class="tabs sub-tabs" data-tab="">
            <li class="tab sub-tab is-active"><a class="tab-title sub-tab-title" tabindex="0" href="#apperael">Clothing</a></li>
        </ul>
        <div class="tabs-contents sub-tab-contents">
            <div id="apperael" class="tab-content sub-tab-content is-active">
                <div class="size-chart">
                    <table>
                        <thead>
                        <tr><th>Standard</th><th>AU/NZ</th></tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>EU 34</td>
                            <td>AU 6</td>
                        </tr>
                        <tr>
                            <td>EU 36</td>
                            <td>AU 8</td>
                        </tr>
                        <tr>
                            <td>EU 38</td>
                            <td>AU 10</td>
                        </tr>
                        <tr>
                            <td>EU 40</td>
                            <td>AU 12</td>
                        </tr>
                        <tr>
                            <td>EU 42</td>
                            <td>AU 14</td>
                        </tr>
                        <tr>
                            <td>EU 44</td>
                            <td>AU 16</td>
                        </tr>
                        <tr>
                            <td>EU 46</td>
                            <td>AU 18</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<p class="pdp_sizeGuide">Kindly be aware that this serves as a general guide. Measurements might fluctuate based on the brand and style.</p>
<script>
    $(document).ready(function(){
        //$('.active-tab').trigger("click");
    })
</script>
<style>
    .active-tab{
        order:-1;
    }
    .active-tab.slick-cloned{
        display: none;
    }
    #sizeModal{
        .pdp_sizeGuide{
            width: 90%;
            margin: auto;
            text-align: center;
            color: #757575;
        }
        .modal-content {
            .slick-track {
                opacity: 1;
                width: 55000px;
                transform: translate3d(-417px, 0px, 0px);
                >:nth-child(14) img,
                >:nth-child(3) img{
                    width: 69% !important;
                }
                li img{
                    width: 85%;
                }
            }
        }
    }
    @media screen and (min-width: 300px) and (max-width: 800px){
        #sizeModal{
            .pdp_sizeGuide{
                width: 100%;
                color: #757575;
                text-align: left;
            }
            .size-tabs + .tabs-contents .tab.sub-tab{
                width: 35%;
            }
            .modal-content{
                .slick-track{
                    li img{
                        width: 50%;
                    }
                }
            }
        }
    }
</style>


