{{#partial "page"}}

<!--{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}-->
<!--<div class="mob_bar contactUsMob page static-page ">-->
<!--    <a href="#" type="button" class="dropdown-toggle">-->
<!--        <span class='listname'>SELECT CATEGORY</span>-->
<!--    </a>-->
<!--    <ul class="static-sidebar-mob" >-->
<!--        <div class="mob_side_list">-->
<!--            <li><h1>CUSTOMER SERVICE</h1></li>-->
<!--            <li><a href="/faq/">FAQ</a></li>-->
<!--            <li><a href="/delivery-and-shipping/">Delivery & Shipping</a></li>-->
<!--            <li><a href="/returns-and-exchanges/">Returns & Exchanges</a></li>-->
<!--            <li><a href="/privacy-policy/">Privacy Policy</a></li>-->
<!--            <li><a href="/terms-and-conditions/">Terms and conditions</a></li>-->
<!--        </div>-->
<!--        <div class="mob_side_list">-->
<!--            <li><h1>ABOUT</h1></li>-->
<!--            <li><a href="/about_us/">About Us</a></li>-->
<!--            <li><a href="/store-location/">Store Location</a></li>-->
<!--            <li><a href="/brands/">Designers</a></li>-->
<!--            <li><a href="/contact-us/">Contact Us</a></li>-->
<!--        </div>-->
<!--        <div class="mob_side_list">-->
<!--            <li><h1>MORE</h1></li>-->
<!--            <li><a href="#">Gift Certificates</a></li>-->
<!--            <li><a href="/sizeGuide/">Size Guide</a></li>-->
<!--            <li><a href="/partners/">Partners</a></li>-->
<!--            <li><a href="/cutomer_promise/">Customer Promise</a></li>-->
<!--        </div>-->
<!--    </ul>-->
<!--</div>-->

<main class="page static-page">
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    {{#unless theme_settings.hide_page_heading }}
    {{/unless}}
    {{#if page.sub_pages}}
    <nav class="navBar navBar--sub">
        <ul class="navBar-section account-navigation">
            {{#each page.sub_pages}}
            <li class="navBar-item"><a class="navBar-action" href="{{url}}">{{title}}</a></li>
            {{/each}}
        </ul>
    </nav>
    {{/if}}
    <div class="mob_bar">
        <a href="#" type="button" class="dropdown-toggle">
            <span class='listname'>SELECT CATEGORY</span>
        </a>
        <ul class="static-sidebar-mob" >
            <div class="mob_side_list">
                <li><h1>CUSTOMER SERVICE</h1></li>
                <li><a href="/faq/">FAQ</a></li>
                <li><a href="/delivery-and-shipping/">Delivery & Shipping</a></li>
                <li><a href="/returns-and-exchanges/">Returns & Exchanges</a></li>
                <li><a href="/privacy-policy/">Privacy Policy</a></li>
                <li><a href="/terms-and-conditions/">Terms &#38 conditions</a></li>
            </div>
            <div class="mob_side_list">
                <li><h1>ABOUT</h1></li>
                <li><a href="/about_us/">About Us</a></li>
                <li><a href="/store-location/">Store Location</a></li>
                <li><a href="/brands/">Designers</a></li>
                <li><a href="/contact-us/">Contact Us</a></li>
            </div>
            <div class="mob_side_list">
                <li><h1>MORE</h1></li>

                <li><a href="/sizeGuide/">Size Guide</a></li>
                <li><a href="/cutomer_promise/">Customer Promise</a></li>
            </div>
        </ul>
    </div>
    <div class="page-main-content">
        <aside class="static-sidebar">


            <div class="MainSide">
                <div class="sideBar">
                    <h1>CUSTOMER SERVICE</h1>
                    <ul class="static-sidebar-list">
                        <li><a href="/faq/">FAQ</a></li>
                        <li><a href="/delivery-and-shipping/">Delivery & Shipping</a></li>
                        <li><a href="/returns-and-exchanges/">Returns & Exchanges</a></li>
                        <li><a href="/privacy-policy/">Privacy Policy</a></li>
                        <li><a href="/terms-and-conditions/">Terms and conditions</a></li>
                    </ul>
                </div>
                <div class="sideBar">
                    <h1>ABOUT</h1>
                    <ul class="static-sidebar-list">
                        <li><a href="/about_us/">About Us</a></li>
                        <li><a href="/store-location/">Store Location</a></li>
                        <li><a href="/brands/">Designers</a></li>
                        <li><a href="/contact-us/">Contact Us</a></li>
                    </ul>
                </div>

                <div class="sideBar">
                    <h1>MORE</h1>
                    <ul class="static-sidebar-list">

                        <li><a href="/sizeGuide/">Size Guide</a></li>
                        <li><a href="/cutomer_promise/">Customer Promise</a></li>

                    </ul>
                </div>
            </div>
        </aside>
        <div class="contactMain">
            <div class="imageBanner">
                <img src="https://store-rnjw8pihep.mybigcommerce.com/product_images/staticPages_images/image%20102.png" alt="" />
            </div>
            <div class="contactDetails">
                <div class="contactUs">
                    <h1>Contact Us</h1>
                    <!--        <p>Parking is available for visitors to Style HQ at the front and rear of the building and spaces are marked ‘Unit 11’.</p>-->
                </div>
                <div class="contactInfo">
                    <div class="details">
                        <h6>CONTACT INFORMATION</h6>
                        <p>Ph: 61 2 8332 1900</p>
                        <!--            <p>Fax: 61 2 8399 3886</p>-->
                        <p>Email: <a>online@designerluxe.com.au</a></p>
                        <p>Monday to Friday: 9am - 5:30pm</p>
                    </div>
                    <!--        <div class="address">-->
                    <!--            <h6>VISIT US AT BEACONSFIELD SHOWROOMS</h6>-->
                    <!--            <p>Unit: 11, 30-32 Beaconsfield Street</p>-->
                    <!--            <p>Alexandrla, NSW 2015</p>-->
                    <!--            <p>Monday to Sunday: 10am - 4pm</p>-->
                    <!--        </div>-->
                </div>
                <div class="socialIcon">
                    <h6>STAY SOCIAL</h6>
                    <div class="Social_icons">
                        <a href="https://www.facebook.com/profile.php?id=61561279313416" target="_blank"><img src="https://store-rnjw8pihep.mybigcommerce.com/product_images/staticPages_images/Item%20%281%29.png"></a>
                        <a href="https://www.instagram.com/designer_luxe_/" target="_blank"><img src="https://store-rnjw8pihep.mybigcommerce.com/product_images/staticPages_images/Link%20%E2%86%92%20insta.svg.png"></a>
                        <!--            <img src="https://store-rnjw8pihep.mybigcommerce.com/product_images/staticPages_images/Icon.png">-->
                    </div>
                </div>

            </div>
            <section class="page contact">

                {{#if page.sub_pages}}
                <nav class="navBar navBar--sub">
                    <ul class="navBar-section account-navigation">
                        {{#each page.sub_pages}}
                        <li class="navBar-item"><a class="navBar-action" href="{{url}}">{{title}}</a></li>
                        {{/each}}
                    </ul>
                </nav>
                {{/if}}
                <div id="contact-us-page" class="page-content page-content--centered">
                    <h6>DROP US A LINE</h6>
                    {{#if forms.contact.success}}
                    <div>{{{lang 'forms.contact_us.successful' shopPath=urls.home}}}</div>
                    {{else}}
                    {{> components/page/contact-us-form}}
                    {{/if}}
                </div>
            </section>
        </div>

    </div>

    {{#if page.feed}}
    <ul>
        {{#each page.feed}}
        <li>
            <h6><a href="{{url}}" target="_blank">{{title}}</a></h6>
                   </li>
        {{/each}}
    </ul>
    {{/if}}

</main>
{{/partial}}
{{> layout/base}}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const currentPath = window.location.pathname;
        const anchorTa = document.querySelectorAll('.static-sidebar-list li a');
        console.log(currentPath)

        anchorTa.forEach(anchor => {
            const href = anchor.getAttribute('href');
            if (href === currentPath) {
                anchor.classList.add('active');
            }

        });
    });
    let dropDown = document.querySelector('.dropdown-toggle');

    dropDown.addEventListener('click', (e) => {
        dropDown.classList.toggle('active');
    });
    // if(window.location.pathname === '/contact-us/'){
    //     let contactEm = document.querySelector('#contact_fullname')
    //     if(!contactEm){
    //         document.querySelector('.footer-info >:nth-child(3) ul >:nth-child(4)>a').click()
    //         document.querySelector('.footer-info >:nth-child(3) ul >:nth-child(5)>a').click()
    //     }else{
    //         console.log("working fine")
    //     }
    // }
</script>
