{{inject 'recaptchaTitle' (lang 'forgot_password.recaptcha_title')}}
{{#partial "page"}}
    <div class="account account--fixedSmall forgotPass">
        <div class="hideElements">
        <h2 class="page-heading forgotHeading">Forgot your Password?</h2>
        <p>No problem! Just input your email address below, and we'll dispatch a link to reset your password</p>
        {{#if forms.forgot_password.error}}
            {{> components/common/alert/alert-error forms.forgot_password.error}}
        {{/if}}
        <form action="{{urls.auth.send_password_email}}" class="form forgot-password-form" method="post">
            <div class="form-prefixPostfix form-prefixPostfix--centeredColumn wrap">


                <input class="form-input email-data" name="email" id="email" type="email" formnovalidate placeholder="Email Address">
                {{inject 'useValidEmail' (lang 'forms.validate.common.email_address')}}
                <br>
                {{{ forms.forgot_password.recaptcha.markup}}}
                <input type="submit" class="button button--primary form-prefixPostfix-button--postfix" value="SEND EMAIL">
            </div>
        </form>
        <p class="signInOptin">You can <a class="signInLink" href="/login.php">Sign in</a> or <a href="/login.php?action=create_account">Create an Account</a></p>
        </div>
    </div>


{{/partial}}
{{> layout/base}}
<script>
    let recaptchaDiv = document.querySelector('.g-recaptcha');
    let parentElement = recaptchaDiv.parentElement;
    let alertBoxError = document.querySelector('.alertBox.alertBox--error');
    parentElement.insertBefore(alertBoxError, recaptchaDiv.nextSibling);

    function moveErrorMessageSpan() {
        let pElement = document.querySelector('.form-prefixPostfix');
        let emailInputElement = pElement.querySelector('.email-data');
        let errorMessageSpan = pElement.querySelector('.form-inlineMessage');
        if (emailInputElement && errorMessageSpan) {
            pElement.insertBefore(errorMessageSpan, emailInputElement.nextSibling);
            clearInterval(checkExistenceInterval);
        }
    }
    let checkExistenceInterval = setInterval(moveErrorMessageSpan, 5000);
    let sendEmail = document.querySelector('.form-prefixPostfix-button--postfix');
    let emailInput = document.querySelector('.email-data');
    sendEmail.addEventListener('click', function(e) {


        let prevForm = document.querySelector('.hideElements');
        let displayContent = document.querySelector('.account--fixedSmall')

        if (emailInput.value.trim() === "") {
            let errorMessage = document.createElement('span');
            errorMessage.className = 'error-msg';
            emailInput.parentNode.appendChild(errorMessage);
            return;
        }
        let newContent = '<h1 class="msgHead">Check your Inbox</h1>' +
            '<p class="msgP">If you have an account registered with us, we\'ll send you an email containing instructions to reset your password.</p>' +
            '<p class="msgP2">Remember, the link is valid for 12 hours only</p>' +
            '<p class="msgA">You can <a href="/login.php">Sign In</a> or <a href="/login.php?action=create_account">Create an Account</a></p>';

        prevForm.style.display = "none";
        setTimeout(function() {
            displayContent.innerHTML = newContent;
        }, 2000);
    });



</script>
